{include="header"}

{if="$fsc->documento"}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <a href="{$fsc->documento->url()}" class="btn btn-xs btn-default">
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
               </a>
               Copiar <small>{$fsc->documento->codigo}</small>
            </h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         Proveedor: {$fsc->documento->nombre}
      </div>
      <div class="col-sm-4">
         Fecha: {$fsc->documento->fecha}
      </div>
      <div class="col-sm-4">
         Hora: {$fsc->documento->hora}
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Artículo</th>
                     <th class="text-right">Cantidad</th>
                     <th class="text-right">Precio</th>
                     <th class="text-right">Descuento</th>
                     <th class="text-right">Importe</th>
                  </tr>
               </thead>
               {loop="$fsc->documento->get_lineas()"}
               <tr>
                  <td>{$value->referencia} {$value->descripcion}</td>
                  <td class="text-right">{$value->cantidad}</td>
                  <td class="text-right">{$fsc->show_precio($value->pvpunitario)}</td>
                  <td class="text-right">{$fsc->show_numero($value->dtopor)} %</td>
                  <td class="text-right">{$fsc->show_precio($value->pvptotal)}</td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12 text-right">
         <a href="{$fsc->url()}&copiar=TRUE" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>&nbsp; Copiar
         </a>
      </div>
   </div>
</div>
{else}
<h1>No se ha encontrado nada.</h1>
{/if}

{include="footer"}